*{
    padding: 0;
    margin: 0;
    top: 0;
    box-sizing: border-box;

}
:root{
  --black:#171717;
   --text:#dedede;
    --gray:#4d4d4d;
  --orange:#f25623;

}
body{
   background: var(--black);
   color: var(--text);
   line-height: 1.6;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    /* glass effect */
    background: var(--black);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--gray);
    /* shadow effect */
    box-shadow: 0 5px 20px var(--gray);
}

.logo{
    background: var(--gray);
    border-radius: 50%;
    padding: .8rem;
    font-size: 12px;
    margin: .2rem;
}
#navbar{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    gap: 2rem;
}
#navbar li a{
  font-size: 16px;
  color: var(--gray);
  text-decoration: none;
  transition: .3s;
}
#navbar li a:hover {
    color: var(--orange);
    border-bottom: 2px solid var(--gray);
    padding: .4rem;
}
/* hero section */
#home{
    
}
.hero{
    padding: 1.2rem;
    margin: 2.4rem;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 90vh;
}
.hero h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
    color: var(--text);
}
.hero p{
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 30px;
}
/* buttons */
.cta-button {
    display:block;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s ease;
}
.btn-primary{
    background: var(--orange);
    color: var(--text);
    margin-right: 10px;
}
.btn-primary:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--gray);
}
.btn-secondary:hover{
    background: var(--orange);
    color: var(--text);
}
/* section */
section{
    padding: 80px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
    color: var(--text);
}
/*cards (services/projects)  */
.card{
    background: var(--gray);
    padding: 25px;
    border-radius: 10px;
    transition: .3s;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px var(--orange);
}
/* grid layout */
.services-card,
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}
/* footer */
.footer{
    text-align: center;
    padding: 25px;
    background: var(--gray);
    color: var(--black);
}